.container{position:relative; clear:both; font-family:Verdana, Geneva, sans-serif; font-size:12px;}
.pagenav{opacity:0.5; position:fixed; top:25px; left:25px; background-color:#e9e9e9; padding:5px; max-width:180px; border:1px solid #fff;
	
-webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.66);
-moz-box-shadow:    0px 0px 30px rgba(50, 50, 50, 0.66);
box-shadow:         0px 0px 30px rgba(50, 50, 50, 0.66);

-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
}
.pagenav:hover{opacity:1;}
.pagenav .title{font-size:11px;display:block; background-color:#000; color:#fff; margin:-5px -5px 5px -5px; padding:10px;}

.pagenav a{text-decoration:none; color:#777; padding:5px 10px; display:block}
.pagenav a.active{background-color:#777; color:#fff;}
.pagenav a:hover{background-color:#333; color:#fff;}
.screen{background-position:top center; background-repeat:no-repeat; background-color:transparent; display:block; clear:both; width:100%; min-width:1280px;}